
/* ----------------------------------- */
/* Base Styles and positioning */
/* ----------------------------------- */
* {
    margin: 0;
    padding: .5rem;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}

div {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 1rem;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

/* ----------------------------------- */
/* Header Styles */
/* ----------------------------------- */

.menu a {
    font-size: 1.5rem;
}

/* ----------------------------------- */
/* Container-top Styles */
/* ----------------------------------- */
.content p {
    font-size: 1.1rem;
    order: 2;
    text-align: center;
}

.content img {
    order: 1;
}

/* ----------------------------------- */
/* Portfolio Styles */
/* ----------------------------------- */

.portfolio-item {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ----------------------------------- */
/* Footer Styles */
/* ----------------------------------- */
.menu-bottom ul {
    display: none;
}

.footer {
    flex-direction: row;
    justify-content: space-between;
}



@media (min-width: 768px) {


    /* Top container */
    .menu ul {
        flex-direction: row;
    }

    /* Portfolio container */
    .content {
        flex-direction: row;
    }

    .content img {
        flex: 1;
        order: 2;
    }

    .content p {
        flex: 1;
        align-self: flex-start;
        padding: 1rem;
        text-align: left;
    }

    .container-middle {
        align-items: center;
    }

    .portfolio {
        flex-direction: row;
    }

    .portfolio-item {
        max-width: 50%;
    }

    /* Bottom container */
    .container-bottom {
        width: 80%;
    }

    /* Footer */
    .footer {
        flex-direction: row;

    }
    .back-to {
        display: none;
    }

    .menu-bottom {
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-bottom ul {
        display: contents;
        flex-direction: row;
        justify-content: center;
    }
    
}

@media (min-width: 1024px) {
    div {
        flex-direction: row;
    }

    .content img {
        max-width: fit-content;
    }

    .content p {
        max-width: 60%;
        align-self: start;
    }

    .portfolio-item {
        max-width: 33%;
    }

    .container-bottom {
        width: 60%;
    }

} 